{% extends 'app/layauts/default.html' %}
{% block content %}
{% load crispy_forms_tags %}
<!-- Begin Page content-->
<div class="Container-fluid">
    <!-- Page Heading-->
    <h1 class="h3 mb-2 text gray-800"> Orders</h1>
    <!-- DataTales Example-->
    <div class="Card shodow mb-4">
        <h6 class="m-0 font-weight-bold text-primary">New order</h6>
    </div>
    <div class="Card-body">
        <div class="Container">
            <form action="{% url 'orders_store'%}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.customer|as_crispy_field }}
                </div>
                <div class="form-group">
                    <label>Categories</label>
                    <Select name='category' id="category_id" class='form-control'>
                        <option value="">--------</option>
                        {% for cat in categories %}
                        <option value="{{cat.id}}">{{cat.category_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    {{ form.product|as_crispy_field }}
                </div>
                <div class="form-group">
                    <label> Unit Price</label>
                    <input type="text" name="unit_price" value="" id="unit_price" class="form-control">
                </div>
                <div class="form-group">
                    {{ form.qty|as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.total|as_crispy_field }}
                </div>
                <button type="submit" class="btn btn-primary"> Enregistrer</Button>
            </form>
        </div>
    </div>
</div>
<!-- end content-->
{% endblock %}