{% extends 'app/layauts/default.html' %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Orders</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
            href="https://datatables.net">official DataTables documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a href="{% url 'orders_create' %}" class="btn btn-primary">New Order</a>
        </div>
        <div class="card-body">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fas fa-alert mr-1"></i>{{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </Button>
            </div>
            {% endfor%}
            {% endif %}
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>customer</th>
                            <th>categories</th>
                            <th>product</th>
                            <th>Unit Price</th>
                            <th>quantite</th>
                            <th>total</th>
                            <th>option</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ord in Orders %}
                        <tr>
                            <td>{{ord.id}}</td>
                            <td>{{ ord.customer.first_name}}</td>
                            <td>{{ ord.product.category.category_name}}</td>
                            <td>{{ ord.product.product_name}}</td>
                            <td>{{ ord.product.unit_price}}</td>
                            <td>{{ ord.qty}}</td>
                            <td>{{ ord.total}}</td>
                            <td>
                                <a href="{% url 'orders_edit' ord.id %}" class="btn btn-primary"> Edit </a>
                                <form action="{% url 'orders_delete' ord.id %}" method="POST">
                                    {%csrf_token%}
                                    <button type="submit" onclick="return confirm('Voulez-vous supprimer cette ordegorie?')" class="btn btn-danger"> Delete</Button>
                                </form>
                            </td>
                        </tr>
                        {%  endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}



<!-- Begin Page Content -->

<!-- /.container-fluid -->